@media screen and (min-width: 521px) {
    h1 {
        display: flex;
        justify-content: center;    
        align-items: center;
        height: 5%;
    }
    #title {
        height: 25%;
        width: 25%
    }
    .bloc {
        width: 50%;
        height: 80%;
    }
    #bloc2 {
        justify-content: end;
    }
    .capture {
        border-radius: 20px;
        margin-right: 35em; 
        margin-bottom: -5em;
        transition: transform .2s;
    }
    .capture:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
      }
    a {
        width: 50%;
    }
}