@media screen and (min-width: 521px) {
    html {
        width: 100%;
        height: 100%;
    }
    body {
        width: 100%;
        height: 100%;   
        background-image : url(../Accueil/background.png);
        background-repeat : no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        margin: 0;
        overflow: hidden; 
    }
/* ---------------------nav-------------------------- */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
    }    
    nav > #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60px;
        height: 60px;
    }       
    ul  {
        display: none;
        width: 100%;
        list-style: none;
        justify-content: space-around;
        padding-left: 0;
        margin: 0;
    }    
    .afficher {
        display: flex; /* affiche le menu lorsque que le nom de la classe se change en ".afficher" avec js */
    }      
    #menuchild a {
        text-decoration: none;
        color: #ff8200;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: bold;  
        /* pour mettre un contour au texte */
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: gray ; 
    }    
    .menu a:hover {
        background-color: gray;   
    }    
    .lien {
        transition: all 0.6s ease;
    }    
    .lien:hover {
        transform: scale(1);
        text-shadow: 1px 1px 50px black;
    }
    /* burger menu */
    .bar1, .bar2, .bar3 {
        margin: 3.7px;
        width: 40px;
        height: 4px;
        background-color: #ff8200;
        transition: 0.4s;
        border-radius: 10px;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
    }    
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
/* --------------------main------------------------ */
    main {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 84%;
        margin: 0%;
    }
    h1 {
        display: inline;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration: none;
        color: #ff8200;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.3em;
        font-weight: bold;  
        /* pour mettre un contour au texte */
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: gray ;
        margin: 1em 0%;
    }
    .subtitle1  {
        color: white;
        font-size: 1.7em;
        width: 100%;
        border-radius: 15px; 
        background-color:#ff8200;
    }   
    .bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;   
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color:black;
        width: 42%;
    }
    main p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color:white;
    }
    a {
        text-decoration: none;
    }
    .cv, .email, .reseaux {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2em 0;
    }
    .zoomLogo {
        transition: transform .2s;
    }
    .zoomLogo:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
    }
    /* return home button */
    .returnHome {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 0.2em;
        right: 0.2em;
        background-color: rgba(0, 0, 0, 0.6);
        border: solid 4px #ff8200;
        border-radius: 40px;
    }
    .returnHome > img {
        width: 50%;
        height: 50%;
    }
/* -------------------footer------------------------- */
     footer {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 1em 0;
    }
}