@media screen and (max-width: 520px) {
    .bloc {
        width: 100%;
    }
    .subtitleHobbies {
        color: white;
        font-size: 1.7em;
        font-weight: bold;
        width: 40%;
        border-radius: 15px; 
        background-color:#ff8200;
    }
    p.subtitleHobbies {
        width: 90%;
        margin: 5%;
    }
    .lienPlaylist a {
        color: white;     
    }
}