@media screen and (max-width: 520px) {
    .modal {
        display: none;
        border-radius: 10px;
        background-color: #333333;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    #logoRivp {
        margin-top: 1em;
        border-radius: 20px; 
    }   
    #logoSeni {
        margin-top: 1em;
        border-radius: 20px;
    }
    #logoBakhtech {
        /* margin-top: 150px; */
        height: 100px;
        width: 100px;
        border-radius: 20px;
        background-color:#2C0932;
        transition: transform .2s;
    }
}